<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="io.cordova.myappe2785d518e9f4f6ea03055878dd7a400" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" defaultlocale="pt-BR">
  <name>Oi HelpSaude</name>
  <description>&#xD;
  </description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">NetSis - Sistemas Web</author>
  <content src="index.html"/>
  <access origin="*"/>
  <vs:features/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="windows-target-version" value="8.1"/>
  <preference name="windows-phone-target-version" value="8.1"/>
  <preference name="Orientation" value="portrait"/>
  <preference name="SplashScreenDelay" value="3000"/>

  <preference name="permissions" value="none"/>
  <feature name="http://api.phonegap.com/1.0/network"/>

  <icon src="resources/icon.png" />

</widget>