<?xml version="1.0" encoding="UTF-8" ?>

  <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.netsis.OiHelpSaude"
        versionCode = "1" 
        version     = "1.0.0" >

  <name>Oi HelpSaude</name>
  <description></description>

  <author href="http://cordova.io" email="dev@cordova.apache.org">NetSis - Sistemas Web</author>
  
  <access origin="*"/>

  <vs:features/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="windows-target-version" value="8.1"/>
  <preference name="windows-phone-target-version" value="8.1"/>
  <preference name="Orientation" value="portrait"/>
  <preference name="SplashScreenDelay" value="3000"/>

  <preference name="permissions" value="none"/>
  <feature name="http://api.phonegap.com/1.0/network"/>

  <gap:plugin name="org.apache.cordova.network-information" />

  <icon src="resources/icon.png" />

</widget>