<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.netsis.OiHelpSaude"
        versionCode = "1" 
        version     = "1.0" >


    <name>Oi HelpSaude</name>

    <description>
        Aplicativo Mobile
    </description>

    <author href="http://www.lazulistudio.com.br" email="rdenubila@gmail.com">
        Rodrigo Denúbila / Lazuli Studio
    </author>

    <icon src="resources/icon.png" />

    <preference name="orientation" value="portrait" />
    <preference name="prerendered-icon" value="true" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />

    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <preference name="StatusBarBackgroundColor" value="#940e1b" />

    <preference name="permissions" value="none"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <gap:plugin name="org.apache.cordova.network-information" version="0.2.15" />
    <gap:plugin name="com.jamiestarke.webviewdebug" version="1.0.8" />

</widget>